<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать нового пользователя</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div style="max-width: 650px; padding-left: 40px; padding-top: 20px;">
<h1>Создать нового пользователя</h1>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <div class="mb-3">
        <label for="firstName" class="form-label">Имя: </label>
        <input class="form-control" type="text" th:field="*{firstName}" id="firstName">
    </div>
    <div class="mb-3">
        <label for="surName" class="form-label">Фамилия: </label>
        <input class="form-control" type="text" th:field="*{surName}" id="surName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail: </label>
        <input class="form-control" type="text" th:field="*{email}" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Ваш e-mail никогда не будет передан третьим лицам.</div>
    </div>
    <input type="Submit" class="btn btn-primary" value="Сохранить">
</form>
</div>
</body>
</html>